body, html{
    overflow: auto !important; 
    height: auto !important;
    padding-bottom:70px;
}
#header-special-separator{
    height:5px;
    background-color: rgb(117, 117, 255);
    border:none;
}
#header-two nav a{
    color: rgb(58, 58, 58);
    margin-right:20px;
}
#header-two nav{
    margin-left:30px;
    align-self: center;
    justify-self: center;
    
}


main{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

#blog-title{
    font-family: Helvetica;
    color:black;
    margin-bottom:5px;
}
.creator-image{
    font-size:250%;
    color:rgb(255, 142, 161);
}
#post-creator-name{
    font-family: Helvetica;
    color:black;
}
#blog-body{
    font-family: Helvetica;
    color:rgb(31, 31, 31);
}
#user-bio{
    margin-left:50px;
    font-family:Helvetica;
}
#creator-info-div{
    height:max-content;
    width:100%;
    
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
}
#creator-info-inner{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
#creator-info-reactions{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#creator-info-reactions-left-div, #creator-info-reactions-right-div{
    display:flex;
    flex-direction: row;
    gap:15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:50px;
}
#main-body{

}

.bacon-text{
    font-family: Helvetica;

}


.creator-name-in-more-from-creator{
    font-family: Helvetica;
    color:rgb(31, 31, 31);
    
}
#see-all-from-user{
    text-decoration: none;
    color:black;
    font-size: medium;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid black;
    width: max-content;
}

#creator-grid{
    margin-bottom: 40px;
}

@media (max-width: 480px){
    #header-two nav{
        display:none;
    }
    main{
        width: 100%

    }
    #creator-grid{
        display:flex;
        flex-direction: column;
    }

}

@media (min-width:480px){
    main{
        width:90%;
    }
    #creator-grid{
        
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

}

@media (min-width:720px){
    main{
        width:60%;

    }

}